<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>Traintastic</Name>
  <Version>1.0.0</Version> <!-- Filled dynamically by workflow -->
  <Title>Traintastic Installer</Title>
  <Publisher>Reinder Feenstra</Publisher>
  <StartMenuDir>Traintastic</StartMenuDir>
  <TargetDir>@HomeDir@/Traintastic</TargetDir>
  <ApplicationIcon>installer-icon.ico</ApplicationIcon>
  <Watermark>installer-watermark.png</Watermark>
  <WizardStyle>Modern</WizardStyle>
  <InstallerApplicationIcon>installer-icon.ico</InstallerApplicationIcon>
  <InstallerWindowTitle>Traintastic Installer</InstallerWindowTitle>
  <InstallerVersion>2.0</InstallerVersion>
  <RemoteRepositories>
    <Repository>
      <Url>file://../packages</Url>
    </Repository>
  </RemoteRepositories>
</Installer>
