<?xml version="1.0"?>
<Installer>
  <Name>Traintastic</Name>
  <Version>1.0.0</Version> <!-- this can be replaced from GitHub workflow -->
  <Title>Traintastic Installer</Title>
  <Publisher>Reinder Feenstra</Publisher>
  <ProductUrl>https://traintastic.org</ProductUrl>
  <InstallerApplicationIcon>installer-icon.ico</InstallerApplicationIcon>
  <WizardStyle>Modern</WizardStyle>
  <LicenseFile>../../LICENSE</LicenseFile>
  <TargetDir>@HomeDir@/Traintastic</TargetDir>
  <RunProgram>vc_redist.x64.exe</RunProgram>
  <RemoteRepositories>
    <Repository>
      <Url>file://packages/</Url>
    </Repository>
  </RemoteRepositories>
</Installer>
